<section class="card">
    <div class="card-body">
        <h1>
            About
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque accusamus ea sapiente praesentium error
            laborum impedit voluptatem autem nostrum esse dolore officiis cum amet ipsa, quam soluta quis eius
            explicabo.</p>
    </div>
</section>