<div class="jumbotron mt-4">
     <h1 class="display-4">Notes App Nodejs Mongodb</h1>
     <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, molestias, rerum ea atque commodi
          sapiente nisi quas voluptate, dolores aliquid omnis architecto sit vero eligendi? Assumenda cum numquam
          dolorum quidem?</p>
     <hr class="my-4">
     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis modi facere corrupti beatae sunt consequatur
          quae deleniti nisi deserunt hic eum veritatis ad, voluptatem doloribus repudiandae! Repudiandae officiis
          facilis minus?</p>
     <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>